.circle-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #b572b4;
  background-color: transparent;
  color: #b572b4;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circle-button.clicked {
  background-color: #c994c9;
  color: white;
  border-color: #c994c9;
}
.circle-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #b572b4;
  background-color: transparent;
  color: #b572b4;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.circle-button.clicked {
  background-color: #c994c9;
  color: white;
  border-color: #c994c9;
}
