.input-field input {
  width: 25vw;
  height: 10vh;
  border-radius: 1.125rem;
  border: none;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 50px;
  outline: none;
}
.input-field select {
  width: 25vw;
  height: 5vh;
  margin: 2rem 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
}
