.logoPerguntas {
  width: 3.125rem;
  height: 3.125rem;
  background-image: url('../../img/logo2PD.svg');
  background-color: #b572b5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.8rem;
  border-radius: 50%;
  margin: 3vh;
  margin-left: 3vh;
}
