body {
  background-color: #eed8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cardPerguntas {
  background-color: #f5e6ff;
  padding: 40px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
  width: 430px;
}

.titleTelaPerguntas h1 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.opcoes label {
  display: flex;
  align-items: center;
  background-color: #f5e6ff;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.opcoes input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #b572b4;
  background-color: transparent;
  position: relative;
}

.opcoes input[type='radio']::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
}

.opcoes input[type='radio']:checked::before {
  background-color: #c994ca;
}

.opcoes input[type='radio']:checked + label {
  background-color: #c994c9;
  color: white;
  border-color: #c994c9;
}

.opcoes label:hover {
  background-color: #eed8ff;
  border-color: #d1b3d1;
}

.opcoes label.clicked {
  background-color: #e2c6f6;
  color: rgb(0, 0, 0);
  border-color: #e2c6f6;
}

.turno {
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons button {
  margin: 0px 30px;
  padding: 10px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #c994c9;
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #a873a8;
}

.buttons button:disabled {
  background-color: #ccc;
}

.progress-dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.progress-dots .dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #c994c9;
  border-radius: 50%;
  display: inline-block;
}

.progress-dots .dot.active {
  background-color: #7d3f7d;
}

.custom-toast-container .Toastify__toast {
  background-color: #c994c9;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
}

.custom-toast-container .Toastify__toast--error {
  background-color: #ff4d4f;
}

.custom-toast-container .Toastify__toast--success {
  background-color: #52c41a;
}

.custom-toast-container .Toastify__toast-body {
  font-size: 16px;
}
