/* FormTelaPrincipal.css */
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: #EED8FF;
}

.form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin-bottom: 20px;
}

.iniciarQuiz {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #C994C9;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TelaVerificarAluno.css */
.telaVerificarAluno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #EED8FF;
}

.titleAluno, .pipipiAluno {
  margin: 10px 0;
}

.btnsVerificarAluno {
  display: flex;
  gap: 10px;
}

.btnNao, .btnSim {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnNao {
  background-color: #ccc;
}

.btnSim {
  background-color: #C994C9;
  color: white;
}