/* FormTelaPrincipal.css */
.form {
  display: flex;
  height: 30vh;
  background-color: #eed8ff;
}

.form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin-bottom: 20px;
}

.iniciarQuiz {
  width: 15vw;
  height: 9vh;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #c57cc4;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.iniciarQuiz:hover {
  background-color: #c75cea;
}

/* TelaVerificarAluno.css */
.telaVerificarAluno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eed8ff;
}

.titleAluno,
.pipipiAluno {
  margin: 10px 0;
}
