/* FormTelaPrincipal.css */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eed8ff;
}

.form2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  margin-bottom: 20px;
}

.iniciarQuiz {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c994c9;
  color: white;
  font-size: 1rem;
}

/* TelaVerificarAluno.css */
.telaVerificarAluno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #eed8ff;
}

.titleAluno,
.pipipiAluno {
  margin: 10px 0;
}

.btnsVerificarAluno {
  display: flex;
  gap: 10px;
}

.btnNao,
.btnSim {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnNao {
  background-color: #ccc;
}

.btnSim {
  background-color: #c994c9;
  color: white;
}
