.telaEscolhaAgente {
  width: 100vw;
  height: 100vh;
  background-image: url('../../img/backgroundPD.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btnConfirmar {
  width: 10rem;
  height: 3rem;
  background-color: #c994c9;
  border-radius: 5px;
  border: 1px solid #c994c9;
  color: #4d2a4c;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}
