.telaVerificarAluno {
  width: 100vw;
  height: 100vh;
  background-image: url('../../img/backgroundPD.svg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.titleAluno {
  display: flex;
  justify-content: center;
}

.aluno {
  text-align: center;
}

.btnsVerificarAluno {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.btnNao {
  width: 5vw;
  background-color: #f8eeff;
  color: #3a3a3a;
  border: 1px solid #f8eeff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btnSim {
  width: 5vw;
  height: 5vh;
  background-color: #c994c9;
  color: #4d2a4c;
  border: 1px solid #c994c9;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}
