.telaVerificarAluno {
  width: 100vw;
  height: 100vh;
  background-image: url('../../img/backgroundPD.svg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.65rem;
}

.titleAluno {
  display: flex;
  justify-content: center;
  color: #81649a;
  font-size: 1.9rem;
}

.nomeAluno {
  text-align: center;
  color: #82639a;
  font-weight: 600;
}

.confirmarAluno {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.btnsVerificarAluno {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.btnNao {
  width: 8vw;
  background-color: #f8eeff;
  color: #3a3a3a;
  border: 1px solid #f8eeff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.btnSim {
  width: 8vw;
  height: 5vh;
  background-color: #c994c9;
  color: #4d2a4c;
  border: 1px solid #c994c9;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .cardVerificarAluno {
    width: 80vw;
  }

  .btnsVerificarAluno {
    gap: 5rem;
  }

  .btnNao,
  .btnSim {
    width: 19.5vw;
    font-size: 1.7rem;
  }

  .confirmarAluno {
    gap: 8rem;
  }

  .titleAluno {
    font-size: 3.5rem;
  }

  .nomeAluno {
    font-size: 3rem;
  }

  .telaVerificarAluno {
    background-image: none;
  }
}

@media (max-width: 480px) {
  .titleAluno {
    font-size: 2.5rem;
  }

  .nomeAluno {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .confirmarAluno {
    gap: 2.5rem;
  }

  .btnsVerificarAluno {
    gap: 2.5rem;
  }

  .btnNao,
  .btnSim {
    width: 25vw;
    font-size: 1.5rem;
  }

  .telaVerificarAluno {
    background-image: none;
  }
}
