.telaPrincipal {
  width: 100vw;
  height: 94.7vh;
  padding-top: 2rem;
  background-image: url('../../img/backgroundPD.svg');
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  padding: 2rem; /* Espaço interno */
  gap: 1.5rem; /* Espaço entre os elementos */
}

.btnIniciarQuiz {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin-bottom: 1rem;
}

.input-field input {
  width: 20.5vw;
  height: 7.5vh;
  border-radius: 1.125rem;
  border: none;
  font-size: 1.1rem;
  padding: 0 1rem;
  margin-top: 1rem;
  outline: none;
}

.input-field select {
  width: 23.05vw;
  height: 7vh;
  margin: 1rem 0;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  padding: 0 0.5rem;
  border: 2px solid #e7cdfc;
}

.input-field select:focus {
  border: 2px solid #ab96bd;
}

@media (max-width: 1023px) {
  #titleInterno1,
  #titleInterno2 {
    font-size: 3rem;
  }

  .cardPrincipal {
    width: 80vw;
    height: 60vh;
    gap: 3rem;
  }

  .telaPrincipal {
    height: 100vh;
    background-repeat: no-repeat;
    gap: 2rem;
  }

  .logoTelaInicial {
    width: 40vw;
  }

  .input-field input {
    width: 50vw;
    font-size: 1.9rem;
    border-radius: 2rem;
  }

  .btnIniciarQuiz {
    margin-top: 2.5rem;
  }

  .iniciarQuiz {
    width: 45vw;
    font-size: 2.5rem;
    border-radius: 2rem;
  }

  .form {
    height: 25vh;
  }
}

@media (max-width: 480px) {
  #titleInterno1,
  #titleInterno2 {
    font-size: 2rem;
  }

  .cardPrincipal {
    width: 80vw;
    height: 60vh;
    gap: 2rem;
  }

  .telaPrincipal {
    background-image: none;
    background-color: #eed8ff;
    gap: 2.5rem;
  }

  .logoTelaInicial {
    width: 32.5vw;
  }

  .input-field input {
    width: 50vw;
    font-size: 1.2rem;
  }

  .btnIniciarQuiz {
    margin-top: 1.8rem;
  }

  .iniciarQuiz {
    width: 50vw;
    height: 8vh;
    font-size: 1.5rem;
    border-radius: 1.5rem;
  }

  .form {
    height: 28vh;
  }
}
